*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: hsl(0, 100%, 74%) ;
background-image: url(./images/bg-intro-desktop.png);
}


@media screen and (max-width: 1000px) {



    body{
        background-image: url(./images/bg-intro-desktop.pngxnbb);
        background-repeat: no-repeat;
        background-size: 10%;

    }
}

@media screen and (orientation: portrait){

    *{
        padding: 0;
        margin: 0;
    }

    body{
        background-color: hsl(0, 100%, 74%);
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: repeat;
        padding: 0;
        margin: 0;
    }

    
}



@media screen and (max-width: 375px){

    *{
        margin: 0;
        padding: 0;
    
    }

    body{
        padding: 0;
        margin: 0;
        background-color: hsl(0, 100%, 74%);
       

    }


    
    
}






.container{
    width: 90%;
    max-width: 14400px;
    margin: 5em auto;
    display: flex;

}

@media screen and (max-width: 1000px) {

    .container{
        width: 70%;
        max-width: 900px;
        background-image: url(./images/bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);
        margin: 20em auto;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 90%;
        max-width: 768px;
        background-image: url(./images/bg-intro-desktop.png);
        margin: 2em auto;
    }


}

@media screen and (orientation: portrait){

    .container{
    
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 2em auto ;
    }
}




@media screen and (max-width: 375px){

    .container{
        
        min-width: 375px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
    
    
    }

    
    
}





  



.left{
    margin: 5em 4em 5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40%;
    margin: 5em 5em;
    
}

@media screen and (orientation: portrait){
   .left { margin: 1em auto;
    width: 90%;}
    
}



@media screen and (max-width: 375px){
 .left{
     margin: 1em 1em 2em 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 90%;
     

 }


    
    
}

.div1{
    width: 40%;
    margin: 10em 0em 10em 5em;

    align-items: center;
    
}

@media screen and (orientation: portrait){
    .div1 {
        width: 90%;
        text-align: center;
        margin: 5em 2em;
        padding: 4em 0;

    }
}

@media screen and (max-width: 375px){
    .div1{
        width: 90%;
        margin: 3em auto;
        align-items: center;
        

    }
}

.div1 h1{
    font-size: 4rem;
    color: white;
}

@media screen and (max-width: 375px){
    .div1 h1{
        font-size: 2rem;
        padding: 1em 1em 0em 1em;
        text-align: center;
    }
}

.div1 p{
    
    color: white;
    font-size: 1.18rem;
}

@media screen and (max-width: 375px){
    .div1 p {font-size: .99em;
        padding: 1em 1em 0em 1em;
        text-align: center;
    }
}

.div3{
    align-items: center;
   
    width: 90%;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 0.5em rgba(0, 0, 0, 0.103) ;
    
}

@media screen and (max-width: 375px){
    .div3{
        align-content: center;
        border-radius: .4em;
        box-shadow: 0 0.5em rgba(0, 0, 0, 0.103);
    
        width: 90%;
        margin: 0 auto;
    
    

    }
}



.div3 form input ,  .div3 form button{
    display: block;
    width: 90%;
    margin: 1.4em auto;
    padding: .9em 0;
    border-radius: .4em;
    border: 1px solid  hsl(246, 25%, 77%);
    color: hsl(246, 25%, 77%);
}

.div3 form p{
    color: hsl(246, 25%, 77%);
    padding: 0 0 3em 0 ;
    font-size: .7rem;
    
    text-align: center;
}
.div3 form p span{
    color: hsl(0, 100%, 74%)
}



 .div3 form button{
     background-color:  hsl(154, 59%, 51%);
     color: white;
    
 }


.div3 form input::placeholder{
    padding-left: 2em;
    font-weight: 550;
}



.div2{
    align-items: center;
    width: 90%;
    padding: 1em 0;
    border-radius: 1em;
    margin-bottom: 2em;
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 0.5em rgba(0, 0, 0, 0.103) ;
}

.div2 p{
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
    text-align: center;
}

.div2 p span{
    font-weight: 600;
    
}

@media screen and (max-width: 375px){

    .div2 p{
        font-size: .9rem;
        margin-left: 6em;
        margin-right: 6em;
    }
    .div2 p span{
        font-weight: 600;
        
    }

}



